<div class="container" id="kontakt">
  <div class="col-lg-12">
    <h2>Kontakt <span>— momentálně přijímám nové zakázky</span></h2>
  </div>
  <div class="col-md-5 col-lg-5">
    <form action="https://adammartinik.wufoo.com/forms/zpxmsut0qmdv2u/#public" method="post" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data">
      <div class="form-group">
        <label for="fomr-email">Email</label>
        <input type="email" value="" id="fomr-email" name="Field3" class="form-control email" placeholder="Váš e-mail" />
      </div>
      <div class="form-group">
        <label for="form-text">Text</label>
        <textarea type="text" id="form-text" name="Field4" placeholder="Váš text" class="form-control"></textarea>
      </div>
      <input type="hidden" id="idstamp" name="idstamp" value="9cA/qb5Pv4ZUkJYXCIAWTJF7CAyxDyaJXCJEya3QFhU=" />
      <button type="submit" class="btn btn-default" id="mc-embedded-subscribe">ODESLAT</button>
    </form>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-md-7 col-lg-6">
    <p><strong>Jsem tím, koho hledáte?</strong></p>
    <p>
      Můžete použít buďto kontaktní formulář vlevo, napsat mi e-mail nebo zavolat. E-mail i telefonní číslo najdete níže.
    </p>
    <p>
      Rád bych se od Vás dozvěděl, o jaké služby byste měli zájem, popř. jakou firmu zastupujete.
    </p>
    <p class="kontakty">
      <span class="email modra"><a href="mailto:a.martinik@gmail.com">a.martinik@gmail.com</a></span>
      <span class="telefon"><a href="tel:+420725816211">+420 725 816 211</a></span>
    </p>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>
          <strong>Adam Martiník</strong><br/>
          Podroužkova 15<br/>
          708 00, Ostrava
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p class="text-right">
          IČ: 88160858<br/>
          <i>(plátce DPH)</i><br/>
          DIČ: CZ8710076012
        </p>
      </div>
    </div>

    <div class="odkazy modra">
      <a href="http://cz.linkedin.com/in/martinikadam/" target="_blank">LinkedIn</a> /
      <a href="http://www.naucmese.cz/kurz/zaklady-zrychlovani-webu" target="_blank">Základy zrychlování webu</a> /
      <a href="http://webperf.cz" target="_blank">webperf.cz</a>
    </div>
  </div>
</div>
