<div class="paticka">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-right">
        <strong>Adam Martiník</strong>  —
        Ruby on Rails developer  —
        <a class="modra" href="mailto:a.martinik@gmail.com">a.martinik@gmail.com</a>  —
        <a href="tel:+420725816211">725 816 211</a>
      </div>
    </div>
  </div>
</div>
