---
title: Webový Programátor | Adam Martiník
description: Zajišťuji tvorbu webu komplexně – od návrhu a plánování přes programování až po nasazení na Internet, testování a následnou údržbu.
keywords: Webový Programátor,webové aplikace,webový vývojář,ostrava
---

<div class="hlavicka">
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills pull-right" id="language">
        <li role="presentation"><a href="/">Čeština</a></li>
        <li role="presentation"><a href="/en">English</a></li>
      </ul>
      <div class="col-md-6 col-lg-6">
        <img class="hidden-md hidden-lg pull-left img-circle" src="img/adam_martinik_squere.png" alt="Adam Martinik" height="200" width="200" />
        <h1>Adam Martiník<span> programátor webových aplikací</span></h1>
        <div class="clearfix"></div>
        <div class="title">
          Dávám webovým aplikacím hlavu a patu.
        </div>
        <p>
          Vím, jak odstranit zbytečné překážky, které vám brání soustředit se na to, co je pro vás a vaši práci stěžejní.
        </p>
        <p>
          Zajišťuji tvorbu webu komplexně – od návrhu a plánování přes programování až po nasazení na Internet, testování a následnou údržbu.
          Podívejte se, jak pracuji, nebo mě rovnou kontaktujte.
        </p>
        <div class="citat">
          “Největší radost mám z toho, když mohu lidem úspěšně pomoct realizovat jejich vizi.”
        </div>
        <div class="kontaktBlok">
          <a href="#kontakt">KONTAKT</a><span> Momentálně <strong>přijímám</strong> nové zakázky.</span>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <img class="hidden-xs hidden-sm" src="img/adam_martinik.jpg" alt="Adam Martinik" height="648" width="555" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Jak pracuji <span>— a proč zrovna tak</span></h2>
      <p>
        Věřím, že klíčem ke kvalitní spolupráci je věcná a pravidelná komunikace. Proto před začátkem každého projektu rád osobně konzultuji nápad či problém přímo s klientem. Poznáme se a zjistíme, zda bude naše spolupráce přínosná.
      </p>
      <p>
        Rozhodneme-li se pro spolupráci, před samotným začátkem je třeba si ujasnit několik detailů. Domluvíme se na společné validaci projektu, stanovíme způsob fakturace a vyřešíme, kdy, kde a jak bude aplikace nasazena do provozu.
      </p>
    </div>

    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/1.png" height="96" width="97" alt="Komunikace s klientem" />
      <img class="hidden-xs sipka" src="img/sipka1.png" height="38" width="40" alt="" />
      <p>
        Nejdříve dáme dohromady Vaše požadavky, tedy co od webu očekáváte, pro koho je určen, k čemu bude sloužit atd. <%= link_to 'více zde', 'navrh-webu'%>
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/2.png" height="96" width="97" alt="Spacifikace webového projektu" />
      <img class="hidden-xs sipka" src="img/sipka1.png" height="38" width="40" alt="" />
      <p>
        Na základě těchto požadavků připravím potřebnou analýzu a specifikaci systému.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/3.png" height="96" width="97" alt="Priority webového projektu" />
      <p>
        Poté vybereme požadavky, které
        mají v danou chvíli nejvyšší prioritu.
        Ty budou součástí první etapy. <span class="hidden-xs" id="arrow">↓</span>
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/4.png" height="96" width="97" alt="Urdzba webového projektu" />
      <img class="hidden-xs sipka" src="img/sipka2.png" height="38" width="40" alt="" />
      <p>
        Vyhovuje-li vše Vašim požadavkům, web se nasadí a začíná údržba.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/5.png" height="96" width="97" alt="Feedback k praci" />
      <img class="hidden-xs sipka" src="img/sipka2.png" height="38" width="40" alt="" />
      <p>
        Etapu zhodnotíte a Vaše připomínky
        se po projednání stanou výchozím
        bodem pro případnou etapu další.
      </p>
    </div>
    <div class="step col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="img/6.png" height="96" width="97" alt="Odevzdani webového projektu" />
      <p>
        Ve chvíli, kdy splním všechny požadavky, odevzdávám provedenou práci. Vše je okamžitě připraveno k testovaní.
      </p>
    </div>
  </div>
</div>


<div class="sedyBox">
  <div class="container">
    <div class="col-lg-12">
      <h2>Co umím <span>— a v čem si věřím nejvíce</span></h2>
      <p>
        Jsem programátor žijící v Ostravě a vyvíjím webové aplikace na platformě <strong>Ruby on Rails</strong>. Mám přes <strong>6 let</strong> praxe v oboru, univerzitní vzdělání a také  spolupracuji jak s českými, tak zahraničními klienty. Zajišťuji tvorbu webu komplexně – od návrhu a plánování přes programování až po nasazení na Internet, testování a následnou údržbu.
      </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <h3>Zkušenosti <span>— na čem jsem pracoval?</span></h3>

      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://popperception.com" target="_blank">
            <img src="img/popperception.png" alt="PopPerception" height="72" width="100" />
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://popperception.com" class="gray" target="_blank">PopPerception</a></h4>
          <p>Pomohl jsem vytvořit webovou aplikaci proměření popularity amerických celebrit. V reálném čase máte možnost sledovat vývoj oblíbenosti známých osobností.</p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://foundum.com" target="_blank">
            <img src="img/foundum.png" alt="Foundum" height="64" width="100" />
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://foundum.com" class="gray" target="_blank">Foundum</a></h4>
          <p>Již druhým rokem pracuji pro přední španělský startup <a href="http://foundum.com" target="_blank">Foundum</a>. Foundum vytváří business ekosystémy a propojuje podnikatele s příslušnými investory a poradci.
            Jsem zodpovědný za kompletní technické řešení.
          </p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
          <br />
          <a href="http://trackwave.com" target="_blank">
            <img src="img/trackwave.png" alt="TrackWave" height="66" width="100" />
          </a>
        </div>
        <div class="col-md-9">
          <h4><a href="http://trackwave.com" class="gray" target="_blank">TrackWave</a></h4>
          <p>TrackWave je webová aplikace pro získání zpětné vazby. Hlavním cílem jsou fyzické "dotazníky" na poštách po celých Spojených státech.</p>
        </div>

        <div class="col-md-12" id="project-list">
          <h4>Další projekty:</h4>
          <%= partial 'shared/projects'%>
          a další...
        </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-6">
      <h3>Reference <span>— kdo mě doporučil?</span></h3>
      <br />
      <blockquote class="reference">
        “S Adamem jsem úzce spolupracoval na rozvoji platformy Foundum. Zastával funkci developera s hlavním zaměřením na výkon a funkčnost naší aplikace. Je s ním skvělá komunikace, dodržuje termíny a vždy má dobrou náladu :)”

        <strong>— <a href="http://cz.linkedin.com/in/martincik" class="gray" target="_blank">Ladislav Martinčík</a>, Coach and Software Entrepreneur</strong>
      </blockquote>
      <blockquote class="reference">
        “Adam Martiník v lednu 2015 navrhoval webové stránky pro naši veterinární genetickou laboratoř GenRex s.r.o. Udělal excelentní práci. Náš web vypadá profesionálně, je absolutně funkční a přesně zacílený pro naše potřeby a potřeby našich zákazníků. Spolupráce s Adamem byla velmi přínosná. Měli jsme společně několik brainstormingových diskusí a důležité informace při nich řečené vždy vhodně zakomponoval do výsledného webu. S Adamem stále spolupracujeme na rozvoji a aktualizacích webu. Adama mohu doporučit každému, kdo hledá profesionálního, tvrdě pracujícího a kreativního webdesignéra.”

        <strong>— <a href="http://www.genrex.cz" class="gray" target="_blank">Mgr. Jiří Černý</a>, výkonný ředitel GenRex s.r.o.</strong>
      </blockquote>
      <blockquote class="reference">
        “Adam je vysoce kvalifikovaný programátor jak v Ruby, tak i v JavaScriptu, a velice dobře se s ním komunikuje a pracuje.” (překlad)

        <strong>— <a href="http://www.linkedin.com/in/nickwientge" class="gray" target="_blank">Nick Wientge</a>, Lead Developer at Differential</strong>
      </blockquote>
      <!--blockquote class="reference">
        “Adam je nejen výborný programátor, ale také velmi dobrý stratég. Nepodceňuje fázi analýzy a návrhu. Jeho výstupy jsou velmi spolehlivé a snadno rozšiřitelné. Co víc chtít?”

        <strong>— <a href="http://cz.linkedin.com/in/zahuta" class="gray" target="_blank">Martin Zahuta</a>, Designer and videographer</strong>
      </blockquote-->
    </div>
  </div>
</div>

<%= partial 'shared/contact' %>





