<div class="container">

    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to '&laquo; zpět', '/' %></li>
    </ul>
    <div class="col-lg-8">
      <h1>Návrh webu</h1>
      <p class="lead">Pokud se rozhodneme spolupracovat, můžete očekávat například tyto otázky:</p>

      <ul class="list-group">
        <li class="list-group-item">Je opravdu potřeba nový web/aplikaci? Neexistuje už hotové řešení?</li>
        <li class="list-group-item">Jaká jsou Vaše očekáváni?</li>
        <li class="list-group-item">Váš business plán</li>
        <li class="list-group-item">Celková strategie (Proč -> Jak -> Co)</li>
        <li class="list-group-item"><a href="http://en.wikipedia.org/wiki/Unique_selling_proposition">USP</a></li>
        <li class="list-group-item">Přimá konkurence / spojenci</li>
        <li class="list-group-item">Popis zákazníka</li>
        <li class="list-group-item">Mnoho dalších otázek ...</li>
      </ul>

    </div>

</div>
<div class="sedyBox">
<%= partial 'shared/contact' %>
</div>